DB_HOST=localhost
DB_PORT=5432
DB_USER=lab
DB_NAME=lab
PORT=8000
EPICS_GATEWAY_ADDR=http://epics-gateway:5070
INFLUXDB_ADDR=http://influxdb:8086
INFLUXDB_ORG=lab-org
INFLUXDB_BUCKET=lab-bucket
INFLUXDB_MEASUREMENTS=pressure,vacuum,control,temperature,pump
DEEPSEEK_API_KEY=
