-----BEGIN OPENSSH PRIVATE KEY-----
（这是占位文件，不是真实私钥。）

真实 deploy key 的生成方式（详见上级 README.md）：
  ssh-keygen -t ed25519 -f id_ed25519 -N "" -C "gascell-lab-deploy"
生成后的 id_ed25519 已被 .gitignore 排除，绝不会入库；
本占位文件仅用于说明目录结构，可安全保留。
-----END OPENSSH PRIVATE KEY-----
